/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
  --russian-violet: #320e3bff;
  --celtic-blue: #276fbfff;
  --ruby-red: #a31621ff;
  --silver-chalice: #b0b2b4ff;
  --rich-black-fogra-39: rgba(4, 5, 10, 0.800);
  --font-op: 'Open Sans', sans-serif;
}

/* ================= SCROLL BAR CSS =============== */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*{
  color: var(--rich-black-fogra-39)
}

body {
  /* background: rgb(79, 0, 108)!important; */
  background: linear-gradient(0.55turn, #3F87A6, #EBF8E1, #F69D3C)!important;
}

/* ================ HOMEPAGE STYLES =============== */

.hp-heading {
  font-family: var(--font-op);
  font-weight: 300;
  color: #4F006C;
}

.hp-main-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#welcome-div {
  width: 100%;
    height: 20em;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

#welcome-msg {
  color: var(--rich-black-fogra-39);
  font-size: 3.4rem;
  font-family: var(--font-op);
  position: relative;
  top: 2.2rem;
}

#welcome-msg-p {
  color: var(--rich-black-fogra-39);
  font-size: 1.7rem;
  font-family: var(--font-op);
  font-weight: 700;
  position: relative;
  top: 2rem;
  text-align: center;
  line-height: 2.2rem;
}

.h-pg__sign-up-btn.css-0 {
  display: flex;
  align-items: center;
  justify-content: center;
}



.chakra-button.css-4gg6g9 {
  font-size: 1.6rem;
  background-color: #484A4D;
  position: relative;
  text-align: center;
  display: flex;

  padding: 1rem;
  margin-top: 2rem;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 1px 1px 12px 2px rgba(255, 255, 255, 0.7)!important;
  border: 2px solid rgba(255, 255, 255, 0.9)
}

.chakra-button.css-4gg6g9:hover {
  background-color: #1f2022;
  
  transition: ease-in-out;
  transition-duration: 100ms;
  cursor: pointer;
  text-decoration: none;
}

/* ================ NAVBAR STYLES =============== */
#navbar {
  background: var(--rich-black-fogra-39);
  border-bottom: 5px solid rgba(4, 5, 10, 0.100);
}

/* #navbar .navbar.buttons:last-of-type {
  position: relative;
  left: 20%;
} */

#navbar-main-box {
  z-index: 1;
}

.navbar.buttons {
  color: whitesmoke;
  outline: none;
  padding: 3px;
  /* margin: 0 5px; */
  font-size: 1.15rem;
  font-family: var(--font-op);
}

.navbar.buttons:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  outline: none;
}

.boxes-for-days {
  margin: 0 15px;
}

/* ================= PROFILE GAME JAM PORTION ===============*/
/* FROM THE CAROUSEL */
.maincarousel-item.left-most-panel {
  border-radius: 5px;
  box-shadow: 0px 0px 12px 0 black;
  border: 3px solid var(--rich-black-fogra-39);
}

.maincarousel-item.profile-info {
  border-radius: 5px;
  box-shadow: 0px 0px 12px 0 black;
  border: 3px solid var(--rich-black-fogra-39);
}

.maincarousel-item.gamejam-info {
  border-radius: 5px;
  box-shadow: 0px 0px 12px 0 black;
  border: 3px solid var(--rich-black-fogra-39);
}

.your-gamejams {
  font-size: 1.5rem;
  font-family: var(--font-op);
  margin-bottom: 15px;
  text-align: center;
  color: var(--rich-black-fogra-39);
}

.gamejam-box-profile {
  margin: 10px 15px;
  border: 3px solid var(--rich-black-fogra-39);
  border-radius: 3px;
  box-shadow: 0px 0px 12px 0 black;
}

.profile-gj-boxes {
  margin: 10px 3px;
}

.gj-intro-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 8px;
  border-bottom: 2px solid black;
}

/* == The GJ Entries CSS ==*/
.gj-info-entries {
  font-size: 1.05rem;
  font-family: var(--font-op);
  margin: 5px 8px;
  color: var(--rich-black-fogra-39)
}

.gj-info-entries.theme {
font-size: 0.8rem;
font-weight: 700;
}

.gj-info-entries.titles {
  font-size: 0.95rem;
font-weight: 700;
}

.gj-info-entries.blurb {
  font-weight: 500;
  font-size: 0.9rem;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 3px;
  padding: 5px;
}

.gj-info-entries.userLimit {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0px 8px;
  border-bottom: 1px solid grey;
}


.gj-info-entries.sites {
  font-weight: 700;
  font-size: 0.9rem;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 3px;
  padding: 5px;
}

.gj-info-entries.dates {
  font-weight: 700;
  font-size: 0.9rem;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
}

/*======= OTHER CSS =======*/
.animated-grid {
    height: 85vh;
    margin-bottom: 200px;

    display: grid;
    gap: 1rem;

    /* Explicit grid */
    grid-template-areas:
      'a  b  c  d'
      'l  🌟 🌟 e'
      'k  🌟 🌟 f'
      'j  i  h  g';

    grid-template-rows: repeat(4, 25%);
    grid-template-columns: 240px auto auto 240px;

    --stagger-delay: 100ms;
  }

  @keyframes cardEntrance {
    from {
      opacity: 0;
      transform: scale(0.3);
      filter: hue-rotate(180deg);
    }
    to {
      opacity: 1;
      transform: scale(1);
      filter: hue-rotate(0deg);
    }
  }

  .card {
    background-color: rgb(36, 243, 147);
    animation: cardEntrance 700ms ease-out;
    animation-fill-mode: backwards;
  }

  .card:nth-child(1) {
    grid-area: a;
    animation-delay: calc(1 * var(--stagger-delay));
  }
  .card:nth-child(2) {
    grid-area: b;
    animation-delay: calc(2 * var(--stagger-delay));
  }
  .card:nth-child(3) {
    grid-area: c;
    animation-delay: calc(3 * var(--stagger-delay));
  }
  .card:nth-child(4) {
    grid-area: d;
    animation-delay: calc(4 * var(--stagger-delay));
  }
  .card:nth-child(5) {
    grid-area: e;
    animation-delay: calc(5 * var(--stagger-delay));
  }
  .card:nth-child(6) {
    grid-area: f;
    animation-delay: calc(6 * var(--stagger-delay));
  }
  .card:nth-child(7) {
    grid-area: g;
    animation-delay: calc(7 * var(--stagger-delay));
  }
  .card:nth-child(8) {
    grid-area: h;
    animation-delay: calc(8 * var(--stagger-delay));
  }
  .card:nth-child(9) {
    grid-area: i;
    animation-delay: calc(9 * var(--stagger-delay));
  }
  .card:nth-child(10) {
    grid-area: j;
    animation-delay: calc(10 * var(--stagger-delay));
  }
  .card:nth-child(11) {
    grid-area: k;
    animation-delay: calc(11 * var(--stagger-delay));
  }
  .card:nth-child(12) {
    grid-area: l;
    animation-delay: calc(12 * var(--stagger-delay));
  }
  .card:last-child {
    grid-area: 🌟;
    animation-delay: calc(13 * var(--stagger-delay));
  }














.animated_floating_card {
  display: grid;
  gap: 3rem;
  margin: 10px;

  grid-template-columns: auto auto auto;
  grid-auto-rows: auto;

  --stagger-delay: 150ms;
}
@media screen and (max-width: 1000px) {
  .animated_floating_card {
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
  }
}
@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}
.floating_card {
  display: flex;
  background-color: rgb(36, 243, 147);
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
  transition: box-shadow 0.35s ease-in-out;
}
.floating_card:hover {

    box-shadow: 5px 6px 6px 3px rgba(17,17,17,0.7);



}

.floating_card:nth-child(1) {
  animation-delay: calc(1 * var(--stagger-delay));
}
.floating_card:nth-child(2) {
  animation-delay: calc(2 * var(--stagger-delay));
}
.floating_card:nth-child(3) {
  animation-delay: calc(3 * var(--stagger-delay));
}
.floating_card:nth-child(4) {
  animation-delay: calc(4 * var(--stagger-delay));
}
/*CARD EFFECT*/
.l-container {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
margin-bottom: 10px;
}
@media screen and (max-width: 760px) {
  .l-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.l-container h1 {
  margin-left: 10px;
}
.l-container-textbox {
  margin-left: 20px;
  width: 100%;
}
.l-container-textbox h1 {
  color: lightgray;
  font-size: 3vw;
  text-align: left;
  font-weight: bold;
}
.l-container-textbox p {
  color: antiquewhite;
  font-size: 2vw;
  text-align: left;
}
.b-game-card {
  z-index: 1;
  width: 75px;
  height: 100px;
  perspective: 1000px;
  display: flex;
}
.b-game-card-wide {
  z-index: 1;
  width: 220px;
  height: 100px;
  perspective: 1000px;
  display: flex;
}
.b-game-card__cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-size: cover;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: top center;
  will-change: transform;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out;
}



.b-game-card__cover::after {
  /*display: block;*/
  /*content: "";*/
  /*position: absolute;*/
  /*z-index: 100;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*height: 120%;*/
  /*background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);*/
  /*transform: translateY(-20%);*/
  /*will-change: transform;*/
  /*transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);*/
}
.b-game-card:hover .b-game-card__cover {
  transform: rotateX(5deg) translateY(-6px);
}
.b-game-card:hover .b-game-card__cover::after {
  transform: translateY(0%);
}
.b-game-card::before {
  display: block;
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
  will-change: opacity;
  transform-origin: top center;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}
.b-game-card:hover::before {
  opacity: 0.6;
  transform: rotateX(10deg) translateY(-6px) scale(1.05);
}








/*Carousel-Simple*/

.container {
  justify-content: center;
  display: flex;
  width: 100vw;
}

.carousel {
  margin-bottom: 20px;
  margin-top: 20px;
}
.carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  border-radius: 10px;
  border: 5px solid;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: 0%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 5px rgb(142, 110, 84);
  border-radius: 10px;
      max-height: 480px;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -100%;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 5px rgb(142, 110, 84);
  border-radius: 10px;
  max-height: 480px;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -200%;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 5px rgb(142, 110, 84);
  border-radius: 10px;
  max-height: 480px;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -300%;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 5px rgb(142, 110, 84);
  border-radius: 10px;
      max-height: 480px;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -400%;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 5px rgb(142, 110, 84);
  border-radius: 10px;
  max-height: 480px;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px rgb(142, 110, 84);
  border-radius: 10px;
  max-height: 480px;
}
.carousel > input:nth-of-type(7):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carousel > input:nth-of-type(7):checked ~ .carousel__thumbnails li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px rgb(142, 110, 84);
  border-radius: 10px;
  max-height: 480px;
}
.carousel > input:nth-of-type(8):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carousel > input:nth-of-type(8):checked ~ .carousel__thumbnails li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px rgb(142, 110, 84);
  border-radius: 10px;
  max-height: 480px;
}

.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
  max-height: 480px;
  margin-right: 40px;
  margin-left: 20px;
  box-shadow: 5px 5px 15px 5px #000000;
  color: var(--rich-black-fogra-39);
}

.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  max-height: 480px;
  transition: all 300ms ease-out;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;

}
.carousel__slide figure {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
  background: rgba( 132, 125, 125, 0.10 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.0px );
  -webkit-backdrop-filter: blur( 13.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: var(--rich-black-fogra-39);
}
.carousel__slide div {
  position: relative;
  width: 100%;
  height: 100%;

}

.carousel__slide div > img {
  margin:auto;
  padding: 10px;

  max-height: 480px;
    max-width: 480px;
}
.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
      max-height: 480px;
}
.carousel__slide figcaption {
  margin-top: 1rem;
  font-size: 20px;
  padding: 20px 20px 0 20px;
  flex: 0 0 auto;
  width: 25%;
  min-width: 150px;
  max-height: 480px;

}
.carousel__slide figcaption button{
  margin-top: 1rem;

}
.carousel__slide figcaption h1{
  margin-top: 1rem;
  font-size: 15px;

}
.carousel__slide figcaption h2{
    font-size: 14px;
    color: var(--rich-black-fogra-39);
}
.carousel__slide .credit {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  max-height: 480px;
  color: lightgray;
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--rich-black-fogra-39);
}
.carousel__slide.scrollable {
  overflow-y: scroll;
}

.carousel__thumbnails {
  list-style: none;
  display: flex;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  max-height: 480px;

}
.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}
.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails label {
  display: block;
  position: relative;
}
.carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
  max-height: 480px;
}
.carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 480px;
}
.carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
  cursor: pointer;
}
.carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
      max-height: 480px;

}














/*Black Card*/
.black-card-container {
  /*position: absolute;*/
  /*height: 300px;*/
  /*width: 100%;*/
  /*top: 60px;*/
  /*left: calc(50% - 300px);*/
  display: flex;
  /*justify-content: space-between;*/
}

.black-card {
  display: flex;
  height: 280px;
  width: 300px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;

  padding: 0 20px;

  transition: 0.4s ease-out;
  position: relative;
  left: 0;
}
.black-card:not(:first-child) {
    /*margin-left: -50px;*/
}
.black-card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}
.black-card:hover ~ .black-card {
  position: relative;
  /*left: 100px;*/
  transition: 0.4s ease-out;
}
.black-card-title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}
.black-card-bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}
.black-card-emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}
.black-card-filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}
.black-card:hover .black-card-filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}
.black-card-circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}
.black-card-stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}
svg {
  fill: #17141d;
  stroke-width: 2px;
}
.black-card:hover .black-card-stroke {
  stroke-dashoffset: 0;
  transition: 0.6s ease-out;
}



/*3d Carousel Styles*/
#maincarousel {
  /* background: )!important; */
  background: linear-gradient(0.35turn, #4F006C, #a4a4a4, #0b3280);
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1200px;
  --items: 5;
  --middle: 3;
  --position: 2;
}
div.maincarousel-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  position: absolute;
  width: 600px;
  height: 700px;
  border: 1px solid grey;
  background-color: white;
  color: lightgray;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-7deg * var(--r)))
    translateX(calc(-400px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}
div.maincarousel-item:nth-of-type(1) {
  --offset: 1;
}
div.maincarousel-item:nth-of-type(2) {
  --offset: 2;

}
div.maincarousel-item:nth-of-type(3) {
  --offset: 3;

}
div.maincarousel-item:nth-of-type(4) {
  --offset: 4;

}
div.maincarousel-item:nth-of-type(5) {
  --offset: 5;

}

#CarouselRadio1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
#CarouselRadio1:checked ~ #maincarousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ #maincarousel {
  --position: 2;
}
input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ #maincarousel {
  --position: 3;
}

/*input:nth-of-type(4) {*/
/*  grid-column: 5 / 6;*/
/*  grid-row: 2 / 3;*/
/*}*/
/*input:nth-of-type(4):checked ~ #maincarousel {*/
/*  --position: 4;*/
/*}*/
/*input:nth-of-type(5) {*/
/*  grid-column: 6 / 7;*/
/*  grid-row: 2 / 3;*/
/*}*/
/*input:nth-of-type(5):checked ~ #maincarousel {*/
/*  --position: 5;*/
/*}*/
.mainCarouselWrapper{
}




/*!*Bigger main*!*/
/*#bigMainCarousel {*/
/*  grid-row: 1 / 2;*/
/*  grid-column: 1 / 8;*/
/*  width: 100vw;*/
/*  height: 500px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  overflow: hidden;*/
/*  transform-style: preserve-3d;*/
/*  perspective: 1200px;*/
/*  --items: 5;*/
/*  --middle: 3;*/
/*  --position: 1;*/
/*  pointer-events: none;*/
/*}*/
/*div.bigMainCarousel-item {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  padding: 10px;*/
/*  position: absolute;*/
/*  width: 300px;*/
/*  height: 400px;*/
/*  border: 1px solid grey;*/
/*  background-color: white;*/
/*  color: lightgray;*/
/*  --r: calc(var(--position) - var(--offset));*/
/*  --abs: max(calc(var(--r) * -1), var(--r));*/
/*  transition: all 0.25s linear;*/
/*  transform: rotateY(calc(-30deg * var(--r)))*/
/*    translateX(calc(-300px * var(--r)));*/
/*  z-index: calc((var(--position) - var(--abs)));*/
/*}*/
/*div.bigMainCarousel-item:nth-of-type(1) {*/
/*  --offset: 1;*/
/*}*/
/*div.bigMainCarousel-item:nth-of-type(2) {*/
/*  --offset: 2;*/
/*}*/
/*div.bigMainCarousel-item:nth-of-type(3) {*/
/*  --offset: 3;*/
/*}*/
/*div.bigMainCarousel-item:nth-of-type(4) {*/
/*  --offset: 4;*/
/*}*/
/*div.bigMainCarousel-item:nth-of-type(5) {*/
/*  --offset: 5;*/
/*}*/
/*div.bigMainCarousel-item:nth-of-type(6) {*/
/*  --offset: 6;*/
/*}*/
/*div.bigMainCarousel-item:nth-of-type(7) {*/
/*  --offset: 7;*/
/*}*/
/*div.bigMainCarousel-item:nth-of-type(8) {*/
/*  --offset: 8;*/
/*}*/
/*div.bigMainCarousel-item:nth-of-type(9) {*/
/*  --offset: 9;*/
/*}*/
/*div.bigMainCarousel-item:nth-of-type(10) {*/
/*  --offset: 10;*/
/*}*/

/*input:nth-of-type(1) {*/
/*  grid-column: 2 / 3;*/
/*  grid-row: 2 / 3;*/
/*}*/
/*input:nth-of-type(1):checked ~ #bigMainCarousel {*/
/*  --position: 1;*/
/*}*/

/*input:nth-of-type(2) {*/
/*  grid-column: 3 / 4;*/
/*  grid-row: 2 / 3;*/
/*}*/
/*input:nth-of-type(2):checked ~ #bigMainCarousel {*/
/*  --position: 2;*/
/*}*/
/*input:nth-of-type(3) {*/
/*  grid-column: 4 /5;*/
/*  grid-row: 2 / 3;*/
/*}*/
/*input:nth-of-type(3):checked ~ #bigMainCarousel {*/
/*  --position: 3;*/
/*}*/

/*input:nth-of-type(4) {*/
/*  grid-column: 5 / 6;*/
/*  grid-row: 2 / 3;*/
/*}*/
/*input:nth-of-type(4):checked ~ #bigMainCarousel {*/
/*  --position: 4;*/
/*}*/
/*input:nth-of-type(5) {*/
/*  grid-column: 6 / 7;*/
/*  grid-row: 2 / 3;*/
/*}*/
/*input:nth-of-type(5):checked ~ #bigMainCarousel {*/
/*  --position: 5;*/
/*}*/
/*input:nth-of-type(6) {*/
/*  grid-column: 6 / 7;*/
/*  grid-row: 2 / 3;*/
/*}*/
/*input:nth-of-type(6):checked ~ #bigMainCarousel {*/
/*  --position: 5;*/
/*}*/



.gameJamCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.SkillBooleanButtons{
  display: flex;
  font-size:.8rem;
}
.SkillBooleanButtons label{
  display: flex;
  flex-direction: column;
  margin: 10px
}
.CreateGameJamWrapper{
  display: flex;
  margin: 10px;
  justify-content: center;
}
.CreateGameJamButton{
  display: flex;
  margin: 10px;
  font-size: 1rem;
  justify-content: center;
  border: 2px solid dimgrey;
}
.CreateGameJamButton{
  display: flex;
  margin: 10px;
  font-size: 1rem;
  justify-content: center;
  border: 1px solid dimgrey;


}
.CreateGameJamButton:hover{
  background-color: lightgray;
}










/*Game and Team Carousel Styling*/
.BrainhubCarousel.BrainhubCarousel--isRTL {
	direction: rtl
}

.BrainhubCarousel.BrainhubCarousel--isRTL .BrainhubCarousel__trackContainer .BrainhubCarousel__track {
	direction: rtl
}

.BrainhubCarouselItem {
    width: 222px !important;
    max-width: none !important;
    min-width: 100px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    margin: 25px;
}
.BrainhubCarouselItem--active {
    /*border: 2px solid #bb9420;*/
    /*border-radius: 10px;*/
/*-webkit-box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.56);*/
/*box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.56);*/
/*border-radius: 150px;*/

  transform: translateY(-5%);
  will-change: transform;
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}
.BrainhubCarouselItem img{
    max-height: 270px;
    max-width: 480px;
  border-radius: 10px;
}

.BrainhubCarouselItem.BrainhubCarouselItem--clickable {
	cursor: pointer
}

.BrainhubCarouselItem .debug-number {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	font-size: 2em;
	text-shadow: 0px 0px 9px white
}

.BrainhubCarousel__container {
	width: 100%;
	overflow: hidden
}

.BrainhubCarousel {
	overflow: hidden;
	display: flex;
	align-items: center
}

.BrainhubCarousel.BrainhubCarousel--isRTL {
	direction: rtl
}

.BrainhubCarousel.BrainhubCarousel--isRTL .BrainhubCarousel__trackContainer .BrainhubCarousel__track {
	direction: rtl
}

.BrainhubCarousel .BrainhubCarousel__trackContainer {
	width: 100%;
	overflow: hidden
}

.BrainhubCarousel .BrainhubCarousel__trackContainer .BrainhubCarousel__track {
	display: flex;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
    gap: 30px
}

.BrainhubCarousel .BrainhubCarousel__trackContainer .BrainhubCarousel__track.BrainhubCarousel__track--transition {
	transition: transform
}

.BrainhubCarousel__arrows {
	cursor: pointer
}

.BrainhubCarousel__loader {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border: 4px solid #7b59ff;
	border-left-color: transparent;
	-webkit-animation: loader 1s infinite linear;
	animation: loader 1s infinite linear
}

@-webkit-keyframes loader {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

@keyframes loader {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

.BrainhubCarousel__arrows {
	position: relative;
	padding: 21px;
	border: none;
	overflow: hidden;
	outline: 0;
	font-size: 0;
	line-height: 0;
	background-color: #7b59ff
}

.BrainhubCarousel__arrows span {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	border-style: solid;
	border-color: #fff;
	border-width: 3px 3px 0 0;
	padding: 5px;
	transition: 0.3s;
	font-size: 0
}

.BrainhubCarousel__arrows:hover {
	background-color: #8768ff
}

.BrainhubCarousel__arrows:hover span {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	border-style: solid;
	border-color: #fff;
	border-width: 3px 3px 0 0;
	padding: 5px;
	transition: 0.3s;
	font-size: 0
}

.BrainhubCarousel__arrows:hover:enabled {
	background-color: #8768ff
}

.BrainhubCarousel__arrows:hover:enabled span {
	border-color: #fff;
	margin: 0
}

.BrainhubCarousel__arrows:disabled {
	background-color: #ccc
}

.BrainhubCarousel__arrowLeft span {
	transform: translate(-50%, -50%) rotate(-135deg);
	margin-left: 2.45px
}

.BrainhubCarousel__arrowRight span {
	transform: translate(-50%, -50%) rotate(45deg);
	margin-left: -2.45px
}

.BrainhubCarousel--isRTL .BrainhubCarousel__arrowLeft span {
	transform: translate(-50%, -50%) rotate(45deg);
	margin-left: -2.45px
}

.BrainhubCarousel--isRTL .BrainhubCarousel__custom-arrowLeft span {
	transform: rotate(180deg)
}

.BrainhubCarousel--isRTL .BrainhubCarousel__arrowRight span {
	transform: translate(-50%, -50%) rotate(-135deg);
	margin-left: 2.45px
}

.BrainhubCarousel--isRTL .BrainhubCarousel__custom-arrowRight span {
	transform: rotate(-180deg)
}

.BrainhubCarousel--isRTL .BrainhubCarousel__arrows:hover span {
	margin: 0
}

.BrainhubCarousel__arrow--disable {
	pointer-events: none
}

.BrainhubCarousel__dots {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0
}

.BrainhubCarousel__dots.BrainhubCarousel__dots--isRTL {
  direction: rtl
}
/*JAMES'S TEAM COMPONENTS NO TOUCHY!!*/

.user-profile-info-box {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
  "A B"
  "A C";
  max-width: 375px;
  height: 120px;
  margin-left: 40px;
  border-radius: 10px;
}

.team-user-profile-info-box-avatar {
  grid-area: A;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.team-user-profile-info-box-username {
  grid-area: B;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.team-user-profile-info-box-skills {
  grid-area: C;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.team-info-box-recruiting {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.team-info-box-two-card{
      overflow-y : scroll !important;
  height: 400px !important;
}

.team-avatar {
  object-fit: contain;
  background-color: white;
}

/* .team-games-box {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px
} */

.team-info-box-main {
  margin-left: 10px;
}

.team-games-container {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-bottom: 10px;

}

.team-game-card-box {
display: flex;
flex-direction: column;
position: relative;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;
}

.team-game-jams-title,
.team-users-title {
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.team-users-card-container {
  overflow-y: scroll;
  height: 600px;
}


.team-game-jams-box {
  overflow-y: scroll;
  height: 600px;
  padding: 6px;
}

.team-game-jam-info-card {
  margin-top: 10px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  width: 500px;
}

.team-game-jam-avatar {
  height: 100px;
  width: 100px;
}

.team-game-jam-name-blurb {
  /* width: %;
  height: ; */
}





.react-datepicker__day:hover {
  background: #edf2f7;
}

.BrainhubCarousel__dots .BrainhubCarousel__dot {
	outline: 0;
	padding: 10px;
	border: none;
	opacity: 0.5;
	font-size: 0;
	cursor: pointer;
	-webkit-appearance: none
}

.BrainhubCarousel__dots .BrainhubCarousel__dot.BrainhubCarousel__dot--selected {
	opacity: 1 !important
}

.BrainhubCarousel__dots .BrainhubCarousel__dot:hover {
	opacity: 1
}

.BrainhubCarousel__dots .BrainhubCarousel__dot:before {
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	padding: 0;
	border: none;
	background: #000
}

.BrainhubCarousel__dots .BrainhubCarousel__thumbnail {
	outline: 0;
	padding: 10px;
	border: none;
	opacity: 0.5;
	font-size: 0;
	cursor: pointer
}

.BrainhubCarousel__dots .BrainhubCarousel__thumbnail.BrainhubCarousel__thumbnail--selected {
	opacity: 1 !important
}

.BrainhubCarousel__dots .BrainhubCarousel__thumbnail:hover {
	opacity: 1
}

.BrainhubCarousel__thumbnail[type=button] {
	-webkit-appearance: none
}

.BrainhubCarousel--isRTL+.BrainhubCarousel__dots {
	direction: rtl
}





/*Homepage && Navbar*/
.hp-main-img{
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.hp-main-img img {
  width: 100px;
  height: 100px;
}


.Wh__SearchInput{
  margin-right: 10px;
}